:root {
    --primary-color: #0A1128;
    --white-color: #fff;
    --gap: 3rem;
    --ligth-grey-color: #EEEEEE;
    --secondary-color: rgb(130, 0, 252);
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--primary-color);
    font-size: 2rem;
    line-height: 1.5;

}

/*Configurando meus headers*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;

}
h1 {
    font-size: 6rem;
    text-transform: uppercase;
}
h2 {
    font-size: 7rem;
    margin-bottom: 6rem;
    text-transform: uppercase;
    line-height: 1.2;
}
h3 {
    font-size: 5rem;
}
h4 {
    font-size: 4.5rem;
}
h5 {
    font-size: 4rem;
}
h6 {
    font-size: 3.5rem;
}

p {
    margin-bottom: 3rem;
}

/*Comandos genéricos*/

.main-bg {
    background-image: url('../imgs/bg-main.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);

}
.white-bg {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 9rem var(--gap);
}

.page {
    min-height: 100vh;
}


/*Menu*/
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.15rem solid var(--ligth-grey-color);
    z-index: 2;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1{
    font-size: 2.3rem;

}
a {
    text-decoration: none;
    color: var(--primary-color);
}

.menu .links {
    list-style: none;
    display: flex;
}

.menu .links li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;
}
/*Animação ao passar o mouse em cima*/
.menu .links li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0; /*Pro elemento não aparecer ante do mouse passar em cima*/
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 250ms ease-in-out;
}
.grid-heading{
    margin-bottom: 1rem;
}

.grid-description {
    margin-bottom: 5rem;
}
/*Passou o mouse em cima aparece*/
.menu .links li a:hover::after{
    width: 50%;
    left: 25%;
}

.space {
    height: 6.5rem;
}

/*Intro*/

.intro-content{
    position: relative;
    /*top: -6.5rem;*/
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: var(var(--gap));
    min-height: 100vh;

}

.intro-txt, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img{
    max-width: 100%;
    height: auto;
}

/*Top 3*/

.top3-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    max-width: 64rem;
    text-align: center;

}

/*Top 3 grid*/

.grid-top3-content {
    min-height: 100vh;
    flex-flow: column wrap;
    justify-content: center;
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: gridcounter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 1rem;
}

.grid h3::before {
    counter-increment: gridcounter;
    content: counter(gridcounter);
    position: absolute;
    font-size: 7rem;
    font-style: italic;
    top: -3.5rem;
    left: -1.5rem;
    transform: rotate(5deg);
    
}


/*Gallery*/

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;

}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

/*Linha separando a galeria e o pricing*/
.line {
    border-bottom: 0.1px solid var(--primary-color);
}

/*Tabela do pricing*/
table {
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;
}
table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}
table td, table th {
    white-space: nowrap;
    padding: 0.8rem;
    text-align: left;
    border: 0.1rem solid var(--ligth-grey-color);
}

table tfoot {
    text-align: center;
}

tfoot td {
    background-color: var(--ligth-grey-color);
}
thead th {
    background-color: var(--ligth-grey-color);
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

/*Contact*/

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}
.form-grid legend {
    font-style: italic;
    font-size: 2.6rem;
    margin-bottom: 3rem;   
}

.form-group {
    flex: 1 1 32rem;
}
.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input, .form-group textarea {
    border: none;
    background-color: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
    outline: none;
}

.form-group input:focus, .form-group textarea:focus {
    box-shadow: 0 0 1rem 0.2rem var(--secondary-color);

}

body .full-width {
    width: 100%;
    flex: 1 1 100%
}

.form-group button {
    border: 0.5rem solid var(--white-color);
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor:pointer;
    transition: all 300ms ease-in-out;
}
.form-group button:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.form-group ::placeholder {
    color: rgb(207, 207, 207);
}

#footer {
    text-align: center;

}
#footer a {
    color: #444;
}

#footer .heart {
    color: rgb(224, 2, 2);
}

#footer p {
    margin: 0;
    padding: 3rem;
}
